APP_NAME=FastAPI MongoDB Boilerplate
APP_VERSION=0.1.0
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=mabdel_backend_ai
JWT_SECRET_KEY=change-this-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
