APP_NAME=FastAPI MongoDB Boilerplate
APP_VERSION=0.1.0
MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=mabdel_backend_ai
JWT_SECRET_KEY=change-this-in-production
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
OTP_CODE_EXPIRE_MINUTES=10
RESET_TOKEN_EXPIRE_MINUTES=15
EXPOSE_TEST_VERIFICATION_CODE=true
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_app_password
SMTP_FROM_EMAIL=your_email@gmail.com
SMTP_FROM_NAME=Mabdel
SMTP_USE_TLS=true
SMTP_USE_SSL=false
